*          { box-sizing:border-box; }
img        { display:block; margin:2rem auto; max-width:100%; }
body       { font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
.container { max-width:600px; margin:2rem auto; text-align:center; }